.card-body {padding: 0!important;}
.header {
    display: flex;
    border-bottom: 2px solid #e8e8e8;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-bottom: 0px!important;
}
.header .logo {display: block;}
.header .title {
    flex: 1;
    font-weight: bold;
    text-align:center;
}

.header-menu{
  display: table;
  width: 100%;
  border-bottom: 2px solid #e8e8e8;
}
.menu-item{
    display: table-cell;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16.67px;
    font-family: 'OpenSansRegular';
}
.menu-item a{
    color: #888;
    text-decoration: none;
}
.menu-item .current{
    color: #0c0c0c;
    text-decoration: underline;
}
.input-field{
    display: table;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.input-field label{
    display: table-cell!important;
    text-align: right;
    width: 35%;
    vertical-align: middle;
    margin: 0px 10px!important;
}

.input-field input[type="text"]{
    display: table-cell!important;
    width: 90%!important;
    margin: 0px 10px!important;
}
.input-field select{
    display: table-cell!important;
    width: 90%!important;
    margin: 0px 10px!important;
}

.input-field input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0px 10px!important;
    outline: none;
    position: relative;
    z-index: 1000;
}
.input-field input[type="checkbox"]:hover {background: #9faab7;}
.input-field input[type="checkbox"]:checked {background: #40e0d0;}
.input-field input[type="checkbox"]:checked::before {
    width: 20px;
    height: 20px;
    display:flex;
    content: '\f00c';
    font-size: 15px;
    font-weight:bold;
    position: absolute;
    align-items:center;
    justify-content:center;
    font-family:'FontAwesome';
}
.input-field input[type="checkbox"]:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
@keyframes click-wave {
    0% {
        height: 20px;
        width: 20px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 60px;
        width: 60px;
        margin-left: -10px;
        margin-top: -10px;
        opacity: 0;
    }
}
.table-list{width: 100%;}
.table-list .header-table{
    background-color: #cbd1d8;
    text-align: center;
    font-weight: bold;
    display: table;
    width: 100%;
}
.table-list .content-table{width: 100%;}
.table-list .row-table{
    display: table;
    width: 100%;
}
.table-list p {
    font-family: 'OpenSansRegular';
    font-size: 14.58px;
    margin: 0;
}
.table-list p.active{color: #3a9200;}
.table-list p.diactive{color: #f21515;}
.cell-center{text-align: center;}
.cell-right{text-align: right;}
.cell-1,.cell-2,.cell-3,.cell-4,.cell-5,.cell-6,.cell-7,.cell-8,.cell-9,.cell-10,.cell-11,.cell-12{
    padding: 10px;
    display: table-cell;
}
.cell-1{width:8.3333%;}
.cell-2{width:16.6666%;}
.cell-3{width:25%;}
.cell-4{width:33.3333%;}
.cell-5{width:41.6666%;}
.cell-6{width:50%;}
.cell-7{width:58.3333%;}
.cell-8{width:66.6666%;}
.cell-9{width:75%;}
.cell-10{width:83.3333%;}
.cell-11{width:91.6666%;}
.cell-12{width:100%;}

.button-field {
    display: table;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button-small {
    padding: 7px 15px!important;
}
.button-action {
    display: table-cell;
    width: 150px;
}
.button-left,
.button-right {
    color: #ffffff !important;
    font-family: 'OpenSansBold' !important;
    padding: 14px 31px;
    display: inline-block;
    font-size: 16px !important;
    text-align: center;
    background-color: #ff9000;
    cursor: pointer;
    border: 1px solid #ffb14b;
    transition: background-color 0.6s;
    float: none;
    outline: none;
    margin-top: 8px;
}
.button-left {
    background-color: #44a9d5;
    border: 1px solid #98d0e8;
}
.button-right:hover,
.button-right:focus,
.button-left:hover,
.button-left:focus {
    text-decoration: none;
    color: #fff;
}
.button-right:hover {background-color: #ff7200;}
.button-left:hover {background-color: #288ebb;}

.home-page {margin: 25px 20px;}
.home-page .wrap-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.home-page .wrap-menu ul li {
    width: 300px;
    margin-right: 9px;
    margin-bottom: 18px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.09);
}
.home-page .wrap-menu ul li a {
    display: flex;
    align-items: center;
    padding: 30px 20px;
}
.home-page .wrap-menu ul li a:before {
    display: block;
    content: '';
    width: 63px;
    height: 62px;
}
.home-page .wrap-menu ul li.menu_2 a:before {background-position: 0 -62px;}
.home-page .wrap-menu ul li.menu_3 a:before {background-position: 0 -124px;}
.home-page .wrap-menu ul li .text {
    display: block;    
    width: 70%;
    box-sizing: border-box;
    color: #0c0c0c;
    font-family: 'OpenSansSemiBold';
    font-size: 18.75px;
    padding: 0 10px;
    text-align: center;
}

@media (max-width: 976px) {
    .header .title{display: none;}
    .menu-item{
        display: block;
        text-align: left;
    }
    .input-field label{
        display: block!important;
        width: 100%;
        text-align: left;
    }
    .input-field input{display: block!important;}
    .input-field select{display: block!important;}
    .home-page .wrap-menu ul {flex-direction: column;}
}

.footer {
    background-color: #191919;
    font-family: 'OpenSansLight';
    font-size: 14.58px;
    color: #fff;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
}
.footer p {
    font-family: 'OpenSansLight';
    font-size: 14.58px;
    color: #fff;
    text-align:center;
}
a {color: #288ebb;}
a.icon {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 22px;
    width: 24px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}
a.icon.icon_edit{background-position:0 -135px;}
a.icon.icon_stop{background-position:0px -210px;}
a.icon.icon_delete{background-position:3px -16px;}
i.icon.icon_add{background-position:-1px -158px;}
a.icon.icon_on{background-position:-1px -111px;}